/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/

.zero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    padding: 25vh 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #290E40;
    background-image: url(../images/zero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;
}

.zero-wrapper {
    margin-bottom: 15vh;
}

@media screen and (min-width: 768px) {
    .zero-wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 28px 220px;
        grid-template-columns: 1fr 220px;
        grid-gap: 28px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .zero-title h1 {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .zero-subtitle {
        margin: 0 auto;
    }
}

.zero-subtitle {
    font-family: 'Avenir LT Std';
    text-transform: uppercase;
    font-weight: 900;
    max-width: 220px;
}

.zero-subtitle-line1 {
    padding-bottom: 20px;
    border-bottom: 2px solid #BF2EC2;
    font-size: 28px;
    line-height: 28px;

    color: #F12BA7;
    background: -webkit-linear-gradient(#BF2EC2, #F12BA7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.zero-subtitle-line2 p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 62px 20px 1fr;
    grid-template-columns: 62px 1fr;
    grid-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding-top: 20px;
    font-size: 21px;
    line-height: 21px;
}

.zero-subtitle-line2-polygon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    height: 54px;

    background-image: url(../images/zero-polygon.png);
    background-repeat: no-repeat;

    position: relative;
    z-index: 0;
}

.zero-subtitle-line2-polygon span {
    display: block;
    position: relative;
    z-index: 10;
    color: #290E40 !important;
}


.zero-subtitle-line2-text {
    color: #F12BA7;
    background: -webkit-linear-gradient(#BF2EC2, #F12BA7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.zero-bottom {
}

@media screen and (min-width: 1200px) {
    .zero-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.zero-explainer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 495px;
}

.zero-explainer p {
    font-family: 'Avenir LT Std';
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
    .zero-explainer p {
        font-family: 'Avenir LT Std';
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 0;
    }
}

.zero-ctabox {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 495px;
}

.zero-ctabox span {
    font-family: 'Avenir LT Std';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgba(255,255,255,0.5);
}

.zero-ctabox>* {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto !important;
    padding: 24px 36px;
    margin-top: 0;
}


@media screen and (max-width: 520px) {
    .zero-ctabox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .zero-ctabox>* {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 100% !important;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}